/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
  margin-bottom: 1.5em;
}

.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.odd /* Zebra striping for each block in the region */ {
}

.block.even /* Zebra striping for each block in the region */ {
}

h2.block-title /* Block title */ {
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First block created with "Add block" link */ {
}

#block-blog-recent /* "Recent blog posts" block */ {
}

#block-book-navigation /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-recent /* "Recent comments" block */ {
}

#block-forum-active /* "Active forum topics" block */ {
}

#block-forum-new /* "New forum topics" block */ {
}

#block-locale-language /* Language switcher block */ {
}

#block-menu-menu-NAME /* Custom menu block  */ {
}

#block-node-recent /* "Recent content" block */ {
}

#block-node-syndicate /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */ {
}

#block-poll-recent /* "Most recent poll" block */ {
}

#block-profile-author-information /* "Author information" block for the profile of the page's author */ {
}

#block-search-form /* "Search form" block */ {
}

#block-shortcut-shortcuts /* "Shortcuts" block */ {
}

#block-statistics-popular /* "Popular content" block */ {
}

#block-system-main-menu /* "Main menu" block */ {
}

#block-system-management /* "Management" block for Drupal management menu */ {
}

#block-system-navigation /* "Navigation" block for Drupal navigation menu */ {
}

#block-system-user-menu /* "User menu" block for Drupal user menu */ {
}

#block-system-help /* "System help" block */ {
}

#block-system-main /* "Main page content" block */ {
}

#block-system-powered-by /* "Powered by Drupal" block */ {
}

#block-user-login /* "User login form" block */ {
}

#block-user-new /* "Who's new" block for a list of the newest users */ {
}

#block-user-online /* "Who's online" block for a list of the online users */ {
}


#block-block-1 /* Copyright Statement Block */ {
	text-align: right;
	margin-right: 20px;
}


#block-menu-block-2 /* Secondary (Footer) Menu Block */ {
	float: left;
	margin-top: 20px;
}

#block-menu-block-2 ul {
	padding: 0;
	margin: 0 0 0 20px;
}

#block-menu-block-2 ul li, #block-menu-menu-logout-menu ul li {
	list-style: none;
	list-style-image: none;
	float: left;
	padding: 0 10px;
	border-right: 1px solid #FFF;
	line-height: 0.9em;
}

#block-menu-block-2 ul li.first, #block-menu-menu-logout-menu ul li.first {
	padding-left: 0;
}

#block-menu-block-2 ul li.last, #block-menu-menu-logout-menu ul li.last {
	border-right: none;
	padding-right: 0;
}

#block-menu-block-2 ul li a, #block-menu-menu-logout-menu ul li a {
	color: #FFFFFF;
	text-decoration: none;
}

#block-menu-block-2 ul li a:hover, #block-menu-menu-logout-menu ul li a:hover {
	text-decoration: underline;
}




#block-system-user-menu, #block-menu-menu-header-menu {
	position: absolute;
	top: -230px;
	left: 655px;
	z-index: 5;
}

#block-system-user-menu ul, #block-menu-menu-header-menu ul {
	padding: 0px 10px 0px 40px;
	margin: 0 0 0 20px;
	background-color: #FFF;
	border: 1px solid #BDBCBC;
	height: 2em;
	line-height: 2em;
	box-shadow: 1px 1px 2px #A4A09E;
	-moz-box-shadow: 1px 1px 2px #A4A09E;
	-webkit-box-shadow: 1px 1px 2px #A4A09E;
}

#block-system-user-menu ul li, #block-menu-menu-header-menu ul li {
	list-style: none;
	list-style-image: none;
	float: left;
	padding: 0 10px;
	border-right: 1px solid #666666;
	line-height: 0.9em;
	margin-top: 6px;
}

#block-system-user-menu ul li.first, #block-menu-menu-header-menu ul li.first {
	padding-left: 0;
}

#block-system-user-menu ul li.last, #block-menu-menu-header-menu ul li.last {
	border-right: none;
	padding-right: 0;
}

#block-system-user-menu ul li a, #block-menu-menu-header-menu ul li a {
	color: #666666;
	text-decoration: none;
}

#block-system-user-menu ul li a:hover, #block-menu-menu-header-menu ul li a:hover {
	text-decoration: underline;
}



#block-block-2 /* Facebook Sidebar Block */, #block-addtoany-addtoany-button {
	text-align: center;
}



#block-commerce-cart-cart {
	position: absolute;
	top: -238px;
	left: 682px;
	z-index: 10;
}




#block-block-5 /* Facebook Header Block */ {
	position: absolute;
	top: -243px;
	left: 652px;
	z-index: 30;
}



#block-block-6 /* Free Shipping Block */ {
	position: absolute;
	z-index: 1;
	top: -207px;
	left: 715px;
	color: #FFFFFF;
	text-transform: uppercase;
}

#block-block-6 p {
	margin: 0px;
}

#block-block-6 p a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 5px 10px 1px 10px;
	background: #707ea6;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; /* future proofing */
	-khtml-border-radius: 2px; /* for old Konqueror browsers */
}


#block-block-6 p a:hover {
	background-color: #4f5982;
}














.front #block-system-main {
	margin-bottom: 0;
}

#block-block-7 /* Front Page Entertaining Tips */, #block-views-front-page-gifts-block, #block-block-8 /* Front Page Gifts Block */ {
	width: 50%;
	float: left;
	background: url(../images/top-border.png) repeat-x top;
	padding-top: 40px;
	position: relative;
	z-index: 50;
	margin-top: -20px;
	margin-bottom: -5px;
}

/*
#block-block-8 {
	width: 400px;
	float: left;
	background: url(../images/top-border.png) repeat-x top;
	padding-top: 40px;
	position: relative;
	z-index: 50;
	margin-top: -20px;
	margin-bottom: -5px;
}
*/

#block-block-7, #block-block-7 a {
	font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
	text-align: center;
	font-style: italic;
	color: #5A5A5A;
}

#block-block-7 h2.block-title {
	border-bottom: 4px double #9C8D86;
	margin: 0 30px;
	padding-bottom: 10px;
	font-size: 1.9em;
}

#block-block-7 .tips-body {
	margin: 0 30px;
	padding-right: 150px;
	background: url(../images/tips-bg.png) no-repeat center right;
	border-bottom: 4px double #9C8D86;
}

#block-block-7 .read-more {
	margin: 0 30px;
	font-size: 1.2em;
	background: url(../images/tips-scroll.png) no-repeat bottom left;
}

#block-block-7 .read-more p {
	margin: 0;
	padding: 30px;
}

#block-views-front-page-gifts-block, #block-block-8 {
	padding-top: 21px;
}


#block-views-front-page-gifts-block .view-front-page-gifts, #block-block-8 .content {
	background: -moz-linear-gradient(top, rgba(247,245,245,0.97) 0%, rgba(243,240,240,0.96) 25%, rgba(229,226,223,0.94) 75%, rgba(225,221,218,0.93) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,245,245,0.97)), color-stop(25%,rgba(243,240,240,0.96)), color-stop(75%,rgba(229,226,223,0.94)), color-stop(100%,rgba(225,221,218,0.93))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(247,245,245,0.97) 0%,rgba(243,240,240,0.96) 25%,rgba(229,226,223,0.94) 75%,rgba(225,221,218,0.93) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(247,245,245,0.97) 0%,rgba(243,240,240,0.96) 25%,rgba(229,226,223,0.94) 75%,rgba(225,221,218,0.93) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(247,245,245,0.97) 0%,rgba(243,240,240,0.96) 25%,rgba(229,226,223,0.94) 75%,rgba(225,221,218,0.93) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(247,245,245,0.97) 0%,rgba(243,240,240,0.96) 25%,rgba(229,226,223,0.94) 75%,rgba(225,221,218,0.93) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f5f5', endColorstr='#ede1ddda',GradientType=0 ); /* IE6-9 */
	margin: 0 30px 0 50px;
	padding-top: 19px;
}

#block-views-front-page-gifts-block h2.block-title, #block-block-8 h2.block-title {
	border-bottom: 1px solid #9C8D86;
	margin: 0 20px;
	text-align: center;
	padding-bottom: 10px;
	font-style: italic;
	color: #432818;
	font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
}

#block-block-8 h2.block-title {
	margin: 0 30px 0 50px;
	background-color: #F7F5F5;
	padding-top: 20px;
}

#block-block-8 p {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

#block-block-9 {
	position: absolute;
	top: -195px;
	right: 70px;
	z-index: 99;
}


#block-views-front-page-gifts-block .views-field-field-gift-description, #block-block-8 .content {
	font-size: 12px;
	line-height: 18px;
	padding: 0 20px;
	/*
-moz-column-count: 2;
	-moz-column-gap: 10px;
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	column-count: 2;
	column-gap: 10px;
*/
}

#block-views-front-page-gifts-block .views-field-field-gift-image {
	padding: 0 20px;
}

#block-views-front-page-gifts-block .views-field-field-dessert-product {
	text-align: right;
	padding: 0 20px 10px;
}






div.content div#login-links a.login-link {
	font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
	font-style: italic;
	border: none;
	background-color: #A50034;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* future proofing */
	-khtml-border-radius: 3px; /* for old Konqueror browsers */
	padding: 8px 12px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	margin: 1px;
	text-decoration: none;
	cursor: pointer;
}

/*
div.content div#login-links a.lt-active:before {
	content: "¥ ";
}

div.content div#login-links a.lt-active:after {
	content: " ¥";
}
*/

div.content div#login-links a.login-link:hover,
div.content div#login-links a.lt-active {
	border: none;
	background-color: #71001f;
}



#block-menu-menu-logout-menu {
	position: absolute;
	right: 20px;
	top: 3px;
}