/**
 * @file
 * CSS targeted specifically for Internet Explorer 7 (and earlier) for Windows.
 *
 * Any CSS in this file will apply to all versions of IE before IE 8. You can
 * target specific versions of IE by using conditional comments. See your
 * sub-theme's .info file for an easy way to use them.
 */


/*
 * Tabs
 */

ul.primary li a,
ul.primary li a .tab,
ul.secondary li a,
ul.secondary li a .tab {
  cursor: pointer;
}

/*
 * Drupal nodes
 */

.node-unpublished>* {
  position: relative; /* Otherwise these elements will appear below the "Unpublished" text. */
}

/*
 * Drupal admin tables
 */
tr.even th,
tr.even td,
tr.odd th,
tr.odd td {
  border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}




/*
#page-wrapper {
	z-index: 300;
	position: relative;
}

#navigation {
	z-index: 300;
}

.sf-menu {
	position: relative;
}
*/

/*
.not-front #header {
	z-index: -10;
}
*/




#navigation ul#superfish-1 li a {
	color: #000;
}



/* Parent element of absolutely positioned element
 * cannot have relative position in order for z-index to take effect
 * in IE7.
 *
 *
*/

.front #main-wrapper {
	position: static; 
}

.front #navigation {
	top: 115px; /* We have to tweak this since before we were positioning relative to #main-wrapper */
	left: auto;
	z-index: 300;
}

.front #navigation .content ul.sf-menu {
	margin-left: 225px;
}

.not-front #main-wrapper {
	position: static; 
}

.not-front #navigation {
	top: 115px; /* We have to tweak this since before we were positioning relative to #main-wrapper */
	left: auto;
	z-index: 300;
}

.not-front #navigation .content ul.sf-menu {
	margin-left: 225px;
}