/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 5px 0 0; /* LTR */
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-style: italic;
  font-size: 1.2em;
}

.block-menu-block .menu-name-main-menu ul.menu {
	padding: 0;
	margin: 0;
}

.block-menu-block .menu-name-main-menu ul.menu li, #node_dessert_full_group_quick_facts .field, #node_uc_dessert_full_group_quick_facts .field {
	padding: 0 10px 0 0; /* LTR */
	font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
	font-style: italic;
	font-size: 1.2em;
	list-style: none;
	list-style-image: none;
	list-style-type: none;
}

#navigation ul#superfish-1 li a, .block-menu-block .menu-name-main-menu ul.menu li a, #node_dessert_full_group_quick_facts .field, #node_uc_dessert_full_group_quick_facts .field {
	color: #444444;
	text-decoration: none;
	padding: 10px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; /* future proofing */
	-khtml-border-radius: 2px; /* for old Konqueror browsers */
}


#navigation ul#superfish-1 li a:before {
	content: "• ";
	visibility: hidden;
}

#navigation ul#superfish-1 li a:after {
	content: " •";
	visibility: hidden;
}


#navigation ul#superfish-1 li a.active, #navigation ul#superfish-1 li a:hover, #navigation ul#superfish-1 li.sfHover a.sf-depth-1, #navigation ul#superfish-1 li.menuparent ul a.active:hover, #navigation ul#superfish-1 li.active-trail a.sf-depth-1 {
	color: #E9E9E9;
	background-color: #A8083A;
	box-shadow: 0px 0px 3px #B7B6B6;
	-moz-box-shadow: 0px 0px 3px #B7B6B6;
	-webkit-box-shadow: 0px 0px 3px #B7B6B6;
}

.block-menu-block .menu-name-main-menu ul.menu li a.active, .block-menu-block .menu-name-main-menu ul.menu li a:hover {
	color: #E9E9E9;
	background-color: #A8083A;	
}

#navigation ul#superfish-1 li a.active:before, #navigation ul#superfish-1 li a:hover:before, #navigation ul#superfish-1 li.sfHover a.sf-depth-1:before, #navigation ul#superfish-1 li.active-trail a.sf-depth-1:before {
	visibility: visible;
}

#navigation ul#superfish-1 li a.active:after, #navigation ul#superfish-1 li a:hover:after, #navigation ul#superfish-1 li.sfHover a.sf-depth-1:after, #navigation ul#superfish-1 li.active-trail a.sf-depth-1:after {
	visibility: visible;
}

#navigation ul#superfish-1 li.sf-depth-1 a {
	
}

#navigation ul#superfish-1 li.menuparent ul, .block-menu-block .menu-name-main-menu ul.menu, #node_dessert_full_group_quick_facts, #node_uc_dessert_full_group_quick_facts {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,242,241,1) 23%, rgba(208,203,201,1) 66%, rgba(191,184,181,1) 91%, rgba(187,180,177,1) 100%, rgba(201,196,194,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(23%,rgba(243,242,241,1)), color-stop(66%,rgba(208,203,201,1)), color-stop(91%,rgba(191,184,181,1)), color-stop(100%,rgba(187,180,177,1)), color-stop(100%,rgba(201,196,194,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,242,241,1) 23%,rgba(208,203,201,1) 66%,rgba(191,184,181,1) 91%,rgba(187,180,177,1) 100%,rgba(201,196,194,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,242,241,1) 23%,rgba(208,203,201,1) 66%,rgba(191,184,181,1) 91%,rgba(187,180,177,1) 100%,rgba(201,196,194,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,242,241,1) 23%,rgba(208,203,201,1) 66%,rgba(191,184,181,1) 91%,rgba(187,180,177,1) 100%,rgba(201,196,194,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,242,241,1) 23%,rgba(208,203,201,1) 66%,rgba(191,184,181,1) 91%,rgba(187,180,177,1) 100%,rgba(201,196,194,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c4c2',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; /* future proofing */
	-khtml-border-radius: 2px; /* for old Konqueror browsers */
	border: none;
}

#navigation ul#superfish-1 li.menuparent ul li, .block-menu-block .menu-name-main-menu ul.menu li {
	border-bottom: 1px solid #C2C1C0;
	border-top: 1px solid #F6F5F4;
	margin: 0 10px;
	width: 195px !important;
	padding: 0;
	font-size: 1em;
}

#node_dessert_full_group_quick_facts .field, #node_uc_dessert_full_group_quick_facts .field {
	border-bottom: 1px solid #C2C1C0;
	border-top: 1px solid #F6F5F4;
	margin: 0 10px;
	padding: 0 0 0 50px;
	text-align: center;
	background: url(../images/quick_facts_sprite.png) left center no-repeat;
}

#node_dessert_full_group_quick_facts .field-name-field-dessert-prep-time, #node_uc_dessert_full_group_quick_facts .field-name-field-dessert-prep-time {
	background-position: 5px 5px;
}

#node_dessert_full_group_quick_facts .field-name-field-dessert-total-time, #node_uc_dessert_full_group_quick_facts .field-name-field-dessert-total-time {
	background-position: 5px -57px;
}

#node_dessert_full_group_quick_facts .field-name-field-dessert-servings, #node_uc_dessert_full_group_quick_facts .field-name-field-dessert-servings {
	background-image: url(../images/quick_facts_sprite.png), url(../images/menu-decor.png);
	background-position: 5px -113px, bottom center;
	background-repeat: no-repeat;
}

#node_dessert_full_group_quick_facts .field-name-field-desert-disclaimer, #node_uc_dessert_full_group_quick_facts .field-name-field-desert-disclaimer {
	border-style: none;
	background-image: none;
	padding: 0px;
	font-size: 12px;
	line-height: 13px;
}

#node_dessert_full_group_quick_facts .field-name-field-desert-disclaimer div.field-label, #node_uc_dessert_full_group_quick_facts .field-name-field-desert-disclaimer div.field-label {
	display: none;
}

#node_dessert_full_group_quick_facts .field .field-label, #node_dessert_full_group_quick_facts .field, #node_uc_dessert_full_group_quick_facts .field .field-label, #node_uc_dessert_full_group_quick_facts .field {
	color: #666666;
	font-weight: normal;
}

.block-menu-block .menu-name-main-menu ul.menu li {
	border-bottom: 1px solid #C2C1C0;
	border-top: 1px solid #F6F5F4;
	margin: 0 10px;
	width: 195px !important;
	padding: 0;
	font-size: 1em;
}

.block-menu-block .menu-name-main-menu, #node_dessert_full_group_quick_facts, #node_uc_dessert_full_group_quick_facts {
	margin: 10px;
}

.block-menu-block .menu-name-main-menu ul.menu li {
	font-size: 1.2em;
}

#node_dessert_full_group_quick_facts .field, #node_uc_dessert_full_group_quick_facts .field {
	padding-top: 5px;
	padding-bottom: 5px;
}

#navigation ul#superfish-1 li.menuparent ul li.first, .block-menu-block .menu-name-main-menu ul.menu li.first, #node_dessert_full_group_quick_facts .field-name-field-dessert-prep-time, #node_uc_dessert_full_group_quick_facts .field-name-field-dessert-prep-time {
	border-top: none;
}

#navigation ul#superfish-1 li.menuparent ul li.last, .block-menu-block .menu-name-main-menu ul.menu li.last {
	border-bottom: none;
	background: url(../images/menu-decor.png) bottom center no-repeat;
	padding-bottom: 15px;
}

#node_dessert_full_group_quick_facts .field-name-field-dessert-servings, #node_uc_dessert_full_group_quick_facts .field-name-field-dessert-servings {
	border-bottom: none;
	padding-bottom: 25px;
}

#navigation ul#superfish-1 li.menuparent ul {
	width: 215px !important;
	margin: 0;
	padding: 0 0 10px 0;
}

#navigation ul#superfish-1 li.menuparent ul a, .block-menu-block .menu-name-main-menu ul.menu li a {
	color: #666666;
	margin: 5px 10px;
	width: 155px !important;
}

#navigation ul#superfish-1 li.menuparent ul a:before, #navigation ul#superfish-1 li.menuparent ul a:after {
	content: "";
}

.block-menu-block .menu-name-main-menu ul.menu li a {
	display: block;
}

#navigation ul#superfish-1 li.menuparent ul a.active {
	color: #666666;
	background-color: inherit;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#navigation ul#superfish-1 li.menuparent ul a:hover, #navigation ul#superfish-1 li.menuparent ul a.active:hover {
	color: #FFFFFF;
}

#navigation ul#superfish-1 li.menuparent ul li a.active:before, #navigation ul#superfish-1 li.menuparent ul li a.active:after, #navigation ul#superfish-1 li.menuparent ul li a:hover:before, #navigation ul#superfish-1 li.menuparent ul li a:hover:after {
	content: "";
}

.block-menu-block .menu-name-main-menu ul.menu li.expanded ul {
	background: none;
}

.block-menu-block .menu-name-main-menu ul.menu li.expanded ul li.leaf a {
	background: none;
	margin: 0;
	padding: 0;
}

.block-menu-block .menu-name-main-menu ul.menu li.expanded ul li.leaf {
	border: none;
	background: none;
	list-style: circle;
	font-size: 0.9em;
	margin: 0 0 0 40px;
	padding: 0;
}

.block-menu-block .menu-name-main-menu ul.menu li.expanded ul li.last {
	margin-bottom: 10px;
}

.block-menu-block .menu-name-main-menu ul.menu li.expanded ul li.leaf a:hover, .block-menu-block .menu-name-main-menu ul.menu li.expanded ul li.leaf a.active {
	color: #000000;
}


.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */
#main-menu {
}

#secondary-menu {
  float: right;
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
.block-menu-block {
}
