/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}

#page-wrapper {
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#header {
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
	margin: 20px 20px 20px 40px;
	font-style: italic;
	font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
	font-size: 1.5em;
	color: #361D0F;
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
}

#main {
}

/*
 * Content
 */
#content {
}

#content .section {
}

.region-highlighted {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
}

h1#page-title {
	color: #432818;
	font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
	font-style: italic;
	font-size: 1.6em;	
}

.node-type-dessert h1#page-title {
	position: relative;
	left: 430px;
	width: 500px;
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
  position: absolute;
  z-index: 9999;
  right: 0px;
  top: -193px;
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.region-help /* Help text on a page */ {
}

.more-help-link /* Link to more help */ {
}

.region-content /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

ul.links li {
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager /* A list of page numbers when more than 1 page of content is available */ {
  padding: 0;
}

.item-list .pager li /* Each page number in the pager list */ {
  padding: 0 0.5em;
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}

.more-link /* Aggregator, blog, and forum more link */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
.region-footer {
	position: relative;
}

.region-footer .block, .region-footer .block p {
	margin-bottom: 0;
	margin-top: 0;
}

.region-footer #block-block-3 {
	text-align: center;
}

.region-footer #block-block-4 /*  */{
	position: absolute;
	top: 55px;
	left: 30px;
}

.region-footer #block-search-form {
	position: relative;
	right: 0;
	top: -80px;
	float: right;
}

/*
 * Page bottom
 */
.region-bottom /* Wrapper for any blocks placed in the page bottom region */ {
	color: #FFFFFF;
}




/*
 * Dessert Pages
 */

.node-dessert .ds-right_bottom-wrapper .field-label {
	border-bottom: 1px solid #A1938C;
	color: #432818;
	font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
	font-style: italic;
	font-size: 1.1em;
	padding-bottom: 3px;
}

.ds-right_bottom, .ds-right_bottom_bottom-wrapper {
	padding: 0 30px 0 20px;
}

.ds-right_bottom_left .field {
	margin-right: 15px;
}

.ds-right_bottom_right .field {
	margin-left: 15px;
}

.ds-left_bottom {
	text-align: center;
}

.field-name-field-dessert-product-image {
	height: 360px;
}

.ds-right_top {
	position: relative;
}

.node-dessert .ds-right_top .field-name-field-dessert-product {
	position: absolute;
	right: 50px;
	bottom: 58px;
	z-index: 100;
}

.node-dessert .ds-right_top .field-name-field-dessert-product input.form-submit {
	font-size: 110%;
	height: auto;
	padding: 10px 30px;
	box-shadow: 1px 1px 3px #6C6967;
	-moz-box-shadow: 1px 1px 3px #6C6967;
	-webkit-box-shadow: 1px 1px 3px #6C6967;
	font-style: italic;
}

.node-dessert .ds-right_top .price {
	position: absolute;
	right: 62px;
	bottom: 35px;
	z-index: 99;
	color: #fff;
	font-style: italic;
	font-size: 1.3em;
	font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
	text-shadow: 0px 0px 3px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=0);
}

.field-name-field-dessert-product-image ul.field-slideshow-pager {
	position: absolute;
}

.field-name-field-dessert-product-image ul.field-slideshow-pager li {
	float: none;
}

.field-name-field-dessert-product-image ul.field-slideshow-pager li img {
	border: 1px solid #71231F;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; /* future proofing */
	-khtml-border-radius: 2px; /* for old Konqueror browsers */
	box-shadow: 0px 0px 2px #988377;
	-moz-box-shadow: 0px 0px 2px #988377;
	-webkit-box-shadow: 0px 0px 2px #988377;
}

.field-name-field-dessert-product-image ul.field-slideshow-pager li.activeSlide img {
	box-shadow: 0px 0px 1px #EAE6E3;
	-moz-box-shadow: 0px 0px 1px #EAE6E3;
	-webkit-box-shadow: 0px 0px 1px #EAE6E3;
}

.field-name-field-dessert-product-image .field-slideshow {
	position: absolute;
	right: 30px;
}

.ds-bottom_wrapper {
	background: url(../images/top-border.png) repeat-x top;
	padding-top: 40px;
	margin-top: -25px;
	position: relative;
	/* top: -20px; */
	z-index: 50;
}







/*
 * Gift Options Page
 */

.view-gift-options .views-row {
	margin-top: 20px;
}

.view-gift-options .group-left .field {
	margin-right: 10px;
}

.view-gift-options h2 {
	margin-top: 0;
	width: 215px;
}

.view-gift-options .views-row .group-right {
	position: relative;
}

.view-gift-options .field-name-field-dessert-product {
	position: absolute;
	right: 0px;
	top: 0px;
}




/*
 * Garnishes and Pairings Accordions
 */

.accordion-image .views-row .tips-image-wrapper {
	position: relative;
}

.accordion-image .views-row .tips-image-wrapper .item-list {
	width: 255px;
}

.accordion-image .views-row .tips-image-wrapper img {
	position: absolute;
	right: 0;
	top: 0;
}

.accordion-image .views-row .views-field-nothing {
	min-height: 235px;
}

.accordion-image .views-field-edit-node {
	clear: both;
}

.accordion-image .views-row .views-field .item-list ul li {
	margin-bottom: 1em;
}







/*
 * FAQs
 */

.faq-list .views-row .views-field-title .views-label, .faq-list .views-row .views-field-field-faq-answer .views-label {
	float: left;
	margin-right: 1em;
}

.faq-list .views-row .views-field-field-faq-answer .field-content p {
	margin-left: 2em;
}

.faq-list .views-row .views-field-field-faq-answer .field-content ul {
	padding-left: 3em;
}

.faq-list .views-row .views-field-title {
	font-weight: bold;
}





/*
 * Shopping Cart (Header)
 */

#views-form-commerce-cart-block-default .views-row, #views-form-commerce-cart-block-default .line-item-quantity-label {
	display: none;
}

#views-form-commerce-cart-block-default .line-item-quantity-raw {
	padding: 3px 10px;
	border: 1px solid #C9C9C9;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px; /* future proofing */
	-khtml-border-radius: 2px; /* for old Konqueror browsers */
}

#block-commerce-cart-cart .cart-empty-block {
	display: none;
}













/*
 * Front Page Featured Slideshow
 */

.front #content .section {
	padding: 0;
	margin-top: -172px;
}

.view-front-page-featured-slideshow {
	position: relative;
	height: 600px;	/* Set this to the width of the main image style */
	width: 960px;
}



.view-front-page-featured-slideshow #views_slideshow_cycle_main_front_page_featured_slideshow-page .views-slideshow-cycle-main-frame-row, .view-front-page-featured-slideshow #views_slideshow_cycle_main_front_page_featured_slideshow-page .views-slideshow-cycle-main-frame-row .views-field-field-dessert-featured-image {
	position: absolute;
	top: 0;
	height: 600px;
	width: 960px;
}

.view-front-page-featured-slideshow #views_slideshow_cycle_main_front_page_featured_slideshow-page .views-slideshow-cycle-main-frame-row .views-field-field-dessert-featured-image {
	z-index: -10;
}



.view-front-page-featured-slideshow .views-slideshow-controls-bottom {
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 100;
}

.view-front-page-featured-slideshow .views-slideshow-controls-bottom #views_slideshow_controls_text_front_page_featured_slideshow-page span a , .view-front-page-featured-slideshow .views-slideshow-controls-bottom #widget_pager_bottom_front_page_featured_slideshow-page .views-content-nid {
	width: 25px;
	height: 25px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../images/slideshow-controls-sprite.png) no-repeat;
	display: block;
	background-position: -29px 0;
	cursor: pointer;
}

.view-front-page-featured-slideshow .views-slideshow-controls-bottom #views_slideshow_controls_text_front_page_featured_slideshow-page #views_slideshow_controls_text_previous_front_page_featured_slideshow-page, .view-front-page-featured-slideshow .views-slideshow-controls-bottom #views_slideshow_controls_text_front_page_featured_slideshow-page #views_slideshow_controls_text_next_front_page_featured_slideshow-page {
	display: none;
}

.view-front-page-featured-slideshow .views-slideshow-controls-bottom #widget_pager_bottom_front_page_featured_slideshow-page .views-content-nid {
	background-position: -58px 0;
}

.view-front-page-featured-slideshow .views-slideshow-controls-bottom #widget_pager_bottom_front_page_featured_slideshow-page .active .views-content-nid {
	background-position: -84px 0;
}

.view-front-page-featured-slideshow .views-slideshow-controls-bottom #views_slideshow_controls_text_front_page_featured_slideshow-page, .view-front-page-featured-slideshow .views-slideshow-controls-bottom #widget_pager_bottom_front_page_featured_slideshow-page, .view-front-page-featured-slideshow .views-slideshow-controls-bottom #widget_pager_bottom_front_page_featured_slideshow-page .views-slideshow-pager-field-item {
	float: left;
}


.view-front-page-featured-slideshow #views_slideshow_cycle_main_front_page_featured_slideshow-page .slideshow-details {
	position: absolute;
	right: 30px;
	bottom: 0px;
	width: 400px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 5px #EEEEEE;
	-moz-box-shadow: 0px 0px 5px #EEEEEE;
	-webkit-box-shadow: 0px 0px 5px #EEEEEE;
}


.view-front-page-featured-slideshow #views_slideshow_cycle_main_front_page_featured_slideshow-page .slideshow-details h2.slideshow-title {
	text-align: center;
	padding-bottom: 10px;
	margin-top: 0;
	background: -moz-linear-gradient(top, rgba(67,40,24,0.18) 0%, rgba(67,40,24,0.16) 2%, rgba(67,40,24,0.09) 37%, rgba(67,40,24,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(67,40,24,0.18)), color-stop(2%,rgba(67,40,24,0.16)), color-stop(37%,rgba(67,40,24,0.09)), color-stop(100%,rgba(67,40,24,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(67,40,24,0.18) 0%,rgba(67,40,24,0.16) 2%,rgba(67,40,24,0.09) 37%,rgba(67,40,24,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(67,40,24,0.18) 0%,rgba(67,40,24,0.16) 2%,rgba(67,40,24,0.09) 37%,rgba(67,40,24,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(67,40,24,0.18) 0%,rgba(67,40,24,0.16) 2%,rgba(67,40,24,0.09) 37%,rgba(67,40,24,0) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(67,40,24,0.18) 0%,rgba(67,40,24,0.16) 2%,rgba(67,40,24,0.09) 37%,rgba(67,40,24,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e432818', endColorstr='#00432818',GradientType=0 ); /* IE6-9 */
}

.view-front-page-featured-slideshow #views_slideshow_cycle_main_front_page_featured_slideshow-page .slideshow-details h2.slideshow-title a {
	text-decoration: none;
	color: #432818;
	font-style: italic;
	font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
	font-size: 0.8em;
	padding: 10px;
	border-bottom: 1px solid #A0928B;
	display: block;
	margin: 0 10px;
}


.view-front-page-featured-slideshow #views_slideshow_cycle_main_front_page_featured_slideshow-page .slideshow-details .dessert-description {
	margin: 0 20px;
}

.view-front-page-featured-slideshow #views_slideshow_cycle_main_front_page_featured_slideshow-page .slideshow-details .dessert-description p {
	margin-bottom: 0;
}

.view-front-page-featured-slideshow #views_slideshow_cycle_main_front_page_featured_slideshow-page .slideshow-details .dessert-buy-now {
	text-align: right;
	background: -moz-linear-gradient(top, rgba(67,40,24,0) 0%, rgba(67,40,24,0.08) 40%, rgba(67,40,24,0.27) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(67,40,24,0)), color-stop(40%,rgba(67,40,24,0.08)), color-stop(100%,rgba(67,40,24,0.27))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(67,40,24,0) 0%,rgba(67,40,24,0.08) 40%,rgba(67,40,24,0.27) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(67,40,24,0) 0%,rgba(67,40,24,0.08) 40%,rgba(67,40,24,0.27) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(67,40,24,0) 0%,rgba(67,40,24,0.08) 40%,rgba(67,40,24,0.27) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(67,40,24,0) 0%,rgba(67,40,24,0.08) 40%,rgba(67,40,24,0.27) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00432818', endColorstr='#45432818',GradientType=0 ); /* IE6-9 */
}

.view-front-page-featured-slideshow #views_slideshow_cycle_main_front_page_featured_slideshow-page .slideshow-details .dessert-buy-now form.commerce-add-to-cart {
	padding: 20px 20px 40px 0;
	background-image: url(../images/slideshow-description-swirl.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	height: 35px;
}

/* Begin added by Gabe 10/31/11 */

div.field-name-field-dessert-baking-directions h4 {
	text-align: center;
	text-transform: lowercase;
	font-family: georgia, times, serif;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	color: #432818;
	margin-bottom: -5px;
}

div.field-name-field-dessert-baking-directions ol {
	list-style-type: none;
}

div.field-name-field-dessert-baking-directions ol li {
	position: relative;
	padding-bottom: 6px;
	margin-bottom: 6px;
	border-bottom: dotted 2px #432818;
}

div.field-name-field-dessert-baking-directions ol li:last-child {
	border-style: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

div.field-name-field-dessert-baking-directions ol li span {
	position: absolute;
	top: -3px;
	left: -23px;
	color: #ac7333;
	font-family: georgia, times, serif;
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
}

div.ui-accordion h3,
div.ui-accordion h3 a {
	background-image: none;
	background-color: #A8083A;
	color: #fff !important;
	font-family: georgia, times, serif;
	font-style: italic;
	font-size: 17px;
	border: solid 1px #A8083A;
}

/* End added by Gabe 10/31/11 */